Source: screen-generator
Maintainer: Jean Yvan <jean.yvan.tissot@gmail.com>
Standards-Version: 0.3-1
Homepage: https://github.com/boddhissattva/screen-generator
Vcs-Git: https://github.com/boddhissattva/screen-generator
VCS-Bzr: lp:user3514/screen-generator

Package: screen-generator
Architecture: any
Maintainer: Jean Yvan <jean.yvan.tissot@gmail.com>
XSBC-Original-Maintainer: Jean Yvan <jean.yvan.tissot@gmail.com>
Priority: optional
Description: 
 screen-generator generates screen configuration files and launches screen by providing a chain of commands
